*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /*Hentet fra kilde 11*/
}

/*Farger*/
$gul:#e6bd43;
$graa:#252525;
$lysgraa:#D9D9D9;

/*Felles body*/
body{
    grid-template-areas: "header" "main" "footer";
    display:grid;
    margin:0;
}

/*Felles css for header og footer*/
header{
    display:flex;
    flex-direction:column;
    min-width:200px;
    nav{
        display:flex;
        flex-direction:column;
        align-items:center;
        span{
            display:flex;
            img{
                max-width: 80px;
            }
        }
        ul{
            display:flex;
            flex-wrap:wrap;
            flex-direction:column;
            align-items:center;
            padding:0rem;
            li{
                margin:0.5rem;
                list-style: none;
                display: flex;
                flex-wrap:wrap;
                min-width: 39px;
            }
        }
    }
}

footer{
    display:flex;
    background-color:$graa;
    flex-wrap:wrap;
    flex-direction: column;
    align-items:center;
    grid-area:"footer";
    span{
        img{
            max-width:5rem;
            margin:0.5rem,
        }
    }
    p{
        display:flex;
        text-align:center;
        color:#ffff;
    }
    ul{
        display:flex;
        align-items:baseline;
        li{
            margin:0.5rem;
            list-style: none;
            font-size: 35px;
        }
    }
}
/*Our services for index og about*/
#our-services{
    display:flex;
    flex-direction: column;
    align-items:center;
    margin:1rem;
    h3{
        margin:1rem;
    }
    #article-kort{
        flex-wrap: wrap;
        align-items:baseline;
        align-content:space-evenly;
        display:flex;
        flex-direction:row;
        article{
            text-align:center;
            max-width:300px;
            i{
                font-size:40px;
            }
        }
    }
}

/*Fikse alle linkene*/
a{
    text-decoration: none;
    color:#000;
}
/*Ikonene*/
.ikon{
    text-decoration:none;
    background-color:$graa;
    color:#fff; 
}

/*Knappene*/
.yellow-button{
    background-color:$gul;
    padding: 0.5rem;
}

.black-white-button{
    border:solid #000;
    border-width: 0.1rem;
    padding:0.5rem;
}
#arrow{
    display:flex;
    justify-content: end;
    #opp-button{
        background-color:#000;
        color:#fff;        
        font-size: 24px;
        padding:0.5rem;
        margin:1rem;
        width:fit-content; 
        position: fixed;
        bottom:0;
        /*Kilde sett inn tall*/
    }
}






/*Index/forsiden*/
#index-grid{
    header{
        grid-area:"header";
        display:flex;
        min-width:300px;
        #home{
            font-weight: bold;
            border-bottom: solid $gul;
        }
        #video{
            display:none;
        }
        article{
            display:flex;
            align-items:center;
            flex-direction:column;
            background-image:url("../img/fjell-index.png"); /*Fant ut hvordan navigere mappene med .. ved bruk av kilde 6*/
            /*Bilde er tatt fra kilde 2*/
            background-repeat: no-repeat;
            background-size:cover;
            padding: 2rem;
            flex-wrap: wrap;

            p{
                color:#fff;
            }

            h1{
                color:#fff;
                font-size: 28px;
            }
        }
    }
    main{
        grid-area:"main";
        #introduskjon{
            margin:0.5rem;
            h2{
                display:flex;
                text-align:center;
            }
            p{
                display:flex;
                text-align:center;
            }
            article{
                border:solid #000;
                padding:0.5rem;
                display:flex;
                flex-wrap: wrap;
                align-items:center;

                img{
                    max-width:300px;
                    margin:0.5rem;
                }
                div{
                    flex-direction:column;
                    margin:0.5rem;
                    max-width:300px;
                    text-align:center;
                }
            }
        }
        #newsletter{
            background-color:$lysgraa;
            display:flex;
            align-items:center;
            flex-direction: column;

            form{
                margin-bottom:0.5rem;
            }
        }

    }

}
#portofolio-grid{
    width:100%;
    header{
        #portofolio{
            font-weight: bold;
            border-bottom: solid $gul;
        }
        article{
            display:flex;
            flex-wrap:wrap;
            justify-content: center;
            align-items:center;
            h1{
                font-size:28px;
            }
            background-image: url(../img/fjell-porto.png);
            /*Bilde er tatt fra kilde 3*/
            background-repeat: no-repeat;
            background-size:cover;
            height: 200px;
        }
        
    }
    #explore{
        margin:0.5rem;
        h3{
            border-bottom: solid $gul;
            margin: 1rem;
            padding:0.5rem;
            font-size: 28px;
        }
        article{
            display:flex;
            flex-wrap:wrap; 
            margin:0.5rem;
            a{
                margin:0.5rem;
            }
        }
    }
    .porto-innhold{ 
        margin:0.5rem;
        display:flex;
        flex-wrap: wrap;
        h3{
            border-bottom: solid $gul;
            font-size: 28px;
            width:100%;
        }
        .ok{
            display:flex;
            flex-wrap: wrap;

            article{
                margin:2rem;
                display:flex;
                flex-direction:column;
                flex-grow:1;
                min-width: 200px;

                img{
                    flex-grow:1;
                    max-width: 629px;


                }
                h4{
                    flex-grow:1;
                    max-width: 629px;

                }

            }
        }
    }
}
#about-grid{
    header{ 
        display:grid;
        grid-area: "header";
        #about{
            font-weight: bold;
            border-bottom: solid $gul;
        }
        #about-our-company{
            background-image: url(../img/fjell-about.jpg);
            /*Bilde er tatt fra kilde 3*/
            background-repeat: no-repeat;
            background-size:cover;
            display:flex;
            justify-content:center;
            article{
                background-color:#D9D9D9B2;
                /*Brukte Figma sin develepor modus til å finne passende fargekode*/
                width:60%;
                margin: 0.5rem;
                padding: 1rem;

                a{
                    margin:0.5rem;
                    padding: 0.5rem;
                }
            }
        }
    }
    main{
        display:grid;
        grid-area: main;

        #our-clients{
            background-color:$gul;

            h3{
                text-align:center;
            }
            #logo-bilder{
                margin:0.5rem;
                display:flex;
                flex-wrap:wrap;
                justify-content:center;

                img{
                    margin:0.5rem;
                    width:fit-content;
                }
            }
        }
        #contact{
            background-color:$lysgraa;

            h3{
                margin:0.5rem;
            }
            h4{
                margin:0.5rem;
            }
            form{
                display:flex;
                flex-direction:column;
                margin:0.5rem;
                input{
                    width:100%;
                    height: 2rem;
                    border:none;
                    margin: 0.2rem;
                }
                #message{
                    height:7rem;
                }
                
                #send-message{
                    width:fit-content;
                }
            }
            #contact-info{
                margin:1rem;
                display:flex;
                flex-direction:column;
                flex-wrap: wrap;
                justify-content:baseline;

                .contact-info-article{
                    display:flex;
                    align-items:baseline;
                    
                    p{
                        font-size:16px;
                    }
                    .contact-ikon{
                        font-size:24px;
                        margin:0.5rem;
                    }
                    #e-post-contact{
                        color:blue;
                    }
                }
            }
        }
        #kart{ 
            iframe{
                width:100%;
                height:200px;
            }
        }
    }
}

@media only screen and (min-width:800px){  

/*Knappene*/
.yellow-button:hover{ /*Brukte Kilde 8*/
    background-color:$graa;
    color:$gul;
}
.black-white-button:hover{ /*Brukte Kilde 8*/
    background-color:$graa;
    color:$gul;
}

/*Felles css for nav og footer*/
    header{
        nav{
            display:flex;
            justify-content:space-between;
            flex-direction:row;
            ul{
                display:flex;
                align-items:baseline;
                flex-wrap:wrap;
                flex-direction:row;
                li{
                    display: flex;
                    flex-wrap:wrap;
                    justify-content: end;

                }
            }
        }
    } 
    footer{
        display:grid;
        grid-template-areas:"footer1 footer2 footer3";
        span{
            grid-area:"footer1";
        }
        p{
            grid-area:"footer2";
            justify-self: center;
        }
        ul{
            grid-area:"footer3";
            display:flex;
            justify-self:end;
            margin:0.5rem;
        }
    }
/*Our services for index og about*/
#our-services{
    #article-kort{
        display:grid;
        grid-template-areas: "1 2 3 4";
    
        #one{
            grid-area:"1";
        }
        #two{
            grid-area:"2";
        }
        #three{
            grid-area:"3";
        }
        #four{
            grid-area:"4";
        }
    
    }
}

#index-grid{
    width:100%; max-width:1600px;
    header{
        section{
            max-height:300px; /*Få videoen mindre*/
            #video{
                display:block; 
                position:relative;
                min-width:100%;
                max-width:100%;
            }
            article{
                position:absolute;
                background-image: none;
                top:150px;
    
    
            }
        }

    }

    main{
        #introduskjon{
            h2{
                display:flex;
                justify-content: center;
            }
            #introduksjons-tekst{ /*Få mindre */
                display:flex;
                justify-content:center;
                margin:2rem;
            }
            article{
                display:grid;
                grid-template-areas:"bla boo";
                grid-template-columns:1fr 1fr;
                column-gap: 3rem;
                padding:2rem;
                    img{
                        grid-area: bla;
                        justify-self: end;                           
                    }           
                    div{
                        grid-area: boo;
                        justify-self: start;
                        h3{
                            text-align:left;
                        }
                        p{
                            text-align:left;  
                        }
                        a{
                            display:flex;
                            align-self:left;
                            width:fit-content;
                        }
                        

                    }    
            }
        }
    }
}   
.porto-article{
    transition: all .5s ease-in-out; 
}
.porto-article:hover{
    transform: scale(1.1); 
}
/*Kilde 12*/

#portofolio-grid{
    width:100%; max-width:1600px;
header{
    display:grid;
    grid-template-areas: "header" "uheader";
    nav{
        grid-area:header;
        display:grid;
        grid-template-areas: "nav1 nav2";
        span{
            grid-area: nav1;
        }
        ul{
            grid-area:nav2;
        }

    }
    article{
        grid-area:uheader;
    }

} 

}
#about-grid{ 
    width:100%; max-width:1600px;
    header{
        display:grid;
        grid-template-areas: "header" "uheader";
        nav{
            grid-area:header;
            display:grid;
            grid-template-areas: "nav1 nav2";
            span{
                grid-area: nav1;
            }
            ul{
                grid-area:nav2;
            }
    
        }
        #about-our-company{
            grid-area:uheader;
            display:flex;
            justify-content:end;
            height:350px;

            article{
                margin: 3rem;
                width:40%;
                height:80%;
            }
        }
    
    } 
    #contact{
        display:grid;
        grid-template-areas:"overskrift overskrift" "message contact";
        grid-template-columns:1fr 1fr;
        grid-template-rows: 1fr;
        h3{
            grid-area:overskrift;
            justify-self:center;
        }
        #send-us-m{
            grid-area:message;
            margin:1rem 1rem 1rem 3rem;
            width: 80%;
            justify-self:center;
        }
        #contact-info{
            grid-area:contact;
            margin:1rem 1rem 1rem 3rem;
            width:80%;
            justify-self:center;
        }
    }
}



}
